$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

$font-family-sans-serif: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", Arial, sans-serif ;
$font-family-serif: Georgia, "Times New Roman", Times, "SimSun" serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace !default;

//主品牌颜色
$main-brand-color: #50d2c2;

//主文本颜色
$main-text-color: #8e8e92;

//
$link-hover-decoration: none;

$border-color: #eeeeee;
